article {
  display: flex;
  width: 10rem;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
  width: 30px;
  height: 30px;
}

.meta {
  line-height: 1.2; /* Reduce line height to decrease space */
  margin-bottom: 0; /* Remove default margin-bottom */
}

.skill1 {
  color: rgb(155, 155, 155);
}

.skill2 {
  color: rgb(199, 125, 72);
}

.skill3 {
  color: rgb(82, 158, 114); /* Proficient (green) */
}

.skill4 {
  color: rgb(157, 104, 211); /* Advanced (yellow) */
}

.skill5 {
  color: rgb(223, 84, 82); /* Expert (red) */
}
