article {
  display: flex;
  width: 10rem;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
  width: 30px;
  height: 30px;
}

.meta {
  line-height: 1.2; /* Reduce line height to decrease space */
  margin-bottom: 0; /* Remove default margin-bottom */
}

.proficiency1 {
  color: #7a4b1c;
  font-weight: 200; /* Light */
}

.proficiency2 {
  color: rgb(99, 99, 99);
  font-weight: 500; /* Light */
}

.proficiency3 {
  color: goldenrod;
  font-weight: 600; /* Bold */
}
